CREATE DATABASE WineStore;
GO

USE WineStore;
GO

-- =========================
-- 1. TABLE USERS
-- =========================
CREATE TABLE Users (
    Username VARCHAR(50) PRIMARY KEY,
    [Password] VARCHAR(100) NOT NULL,
    FirstName NVARCHAR(50) NOT NULL,
    LastName NVARCHAR(50) NOT NULL,
    isAdmin BIT NOT NULL DEFAULT 0,
    isActive BIT NOT NULL DEFAULT 1
);
GO

-- =========================
-- 2. TABLE PRODUCTS
-- =========================
CREATE TABLE Products (
    ID INT PRIMARY KEY IDENTITY(1,1),
    ProductName NVARCHAR(255) NOT NULL,
    Category NVARCHAR(100) NOT NULL,
    Price DECIMAL(18,2) NOT NULL,
    DiscountPrice DECIMAL(18,2) NOT NULL,
    Quantity INT NOT NULL,
    Image NVARCHAR(255) NULL
);
GO

-- =========================
-- 3. SAMPLE USERS
-- =========================
INSERT INTO Users (Username, [Password], FirstName, LastName, isAdmin, isActive)
VALUES
('admin', '123', N'Gia', N'Phan', 1, 1),
('user1', '123', N'An', N'Nguyen', 0, 1),
('user2', '123', N'Binh', N'Tran', 0, 1);
GO

-- =========================
-- 4. SAMPLE PRODUCTS
-- =========================
GO